/** all**/


html {
    box-sizing: border-box;
    
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-image: linear-gradient(to right, #000000, #838383);
    color: #FFFFFF;
    font-family: "Lato", "Georgia", "Roboto", sans-serif;
    font-size: 16px;
}
@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"),
        url("../fonts/Lato-Regular.woff2") format("woff2"),
        url("../fonts/Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"),
        url("../fonts/Lato-Bold.woff2") format("woff2"),
        url("../fonts/Lato-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Georgia";
    src: local("Georgia"),
        url("../fonts/Georgia.woff2") format("woff2"),
        url("../fonts/Georgia.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: "Georgia";
    src: local("Georgia-Bold"),
        url("../fonts/Georgia-Bold.woff2") format("woff2"),
        url("../fonts/Georgia-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }


.container {
    max-width: 1700px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

/** HEADER **/
header {
    background-color: #000000;
}
.header-content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-content a {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 8px;
}
.header-content a:hover {
    color: rgba(157, 0, 255, 0.9);
}
.header-content a:focus {
    color: rgba(157, 0, 255, 0.9);
    outline: none;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10px;  
}
.header-content a:active {
    color: rgba(157, 0, 255, 0.9);
    outline: none;
    border: 1px solid rgba(157, 0, 255, 0.9);
}

.header-content__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-content__menu li:not(:last-child) {
    margin-right: 25px;
}

input[type="checkbox"] {
    height: 40px;
    width: 40px;
    -webkit-appearance: none;
    box-shadow: 
      0px -5px 10px rgba(255, 255, 255, 0.5),
      10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%; /*Makes the circle*/
    border: 4px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  input[type="checkbox"]::after {
    font-family: FontAwesome;
    content: "\f185"; /*ON/OFF icon Unicode*/
    color: #7a7a7a;
    font-size: 15px;
  }
  input[type="checkbox"]:checked{
    box-shadow: 
    0px -5px 10px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset 0px -5px 10px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  }
  input[type="checkbox"]:checked::after{
    font-family: FontAwesome;
    content: "\f186"; /*ON/OFF icon Unicode*/
    color: rgba(157, 0, 255, 1);
    font-size: 15px;
  }
  .header-btn {
    background-color: #5f0092!important;
    cursor: pointer;
  }

  .header-btn:not(:last-child) {
      margin-right: 40px;
  }
/** HERO SECTION**/
.hero-section {
    min-height: 600px;
    padding-top: 65px;
    padding-bottom: 80px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: inherit;
}

.hero__tittle {
    max-width: 900px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 510px;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 75px;

}
 

.hero__tittle-text p {
    font-size: 18px;
    line-height: 30px;
    max-width: 500px;
}

/** WE SECTION**/
.we-section {
    padding-bottom: 80px;
    padding-top: 80px;
    background: 
		linear-gradient(to right, rgba(117, 117, 117, 0.95), rgba(0, 0, 0, 0.99)), 
		url(../img/bg1.png);
        position: relative;  
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__tittle {
    margin: 40px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}

.about__text {
    font-size: 18px;
    line-height: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

/** icons-section **/
.icons-section {
    padding-bottom: 80px;
    padding-top: 80px;
}
.icons__top {
    display: flex;
    align-items: center;
}
.icons__top img {
    max-width: 70px;
    max-height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.icon {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(232, 231, 233, 0.9),
    1px 2px 4px 0px rgba(213, 210, 214, 0.9),
    2px 4px 15px 0px rgba(197, 196, 197, 0.9);
    cursor: pointer;  
}
.icon:hover {
    transform: translateY(-4px);
    box-shadow: inset 0px 5px 7px 1px rgba(229, 227, 230, 0.9);
  }
   
.icons {
    padding: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
}

/** form section*/
.form-section {
    padding-bottom: 80px;
    padding-top: 80px;
    background: 
		linear-gradient(to right, rgba(117, 117, 117, 0.95), rgba(0, 0, 0, 0.99)), 
		url(../img/bg2.jpeg);
        position: relative;  
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;    
}
.contact {
    padding: 70px;
    text-align: center;
}
.contact__tittle {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 100%;
}

.btn {
    padding: 20px 40px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(37, 37, 37);
    background-color: #212121;
    box-shadow: 0px 1px 2px 0px rgba(157, 0, 255, 0.9),
    1px 2px 4px 0px rgba(157, 0, 255, 0.9),
    2px 4px 8px 0px rgba(157, 0, 255, 0.9),
    2px 4px 15px 0px rgba(77, 0, 124, 0.9);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn:hover{
    box-shadow: inset 0px 5px 7px 1px rgba(157, 0, 255, 0.9);
    cursor: pointer;
    border: none;
    outline: none;
    
  }
  .btn:focus-within {
    border: 1px solid #ffffff;
    background-color: #212121;
    outline: 0;
}

  .form__input {
    transition-property: background-color, border, color;
    padding-left: 18px;
    max-width: 500px;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: #212121;
    box-shadow: 0px 1px 2px 0px rgba(232, 231, 233, 0.9),
    1px 2px 4px 0px rgba(213, 210, 214, 0.9),
    2px 4px 8px 0px rgba(197, 196, 197, 0.9);
    border: 1px solid rgb(37, 37, 37);
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    border-radius: 20px;
  }
  
  .form__input::placeholder {
    padding-top: 12px;
  }
  
  .form__input:hover {
      border: none;
    cursor: pointer;
    box-shadow: inset 0px 5px 7px 1px rgba(229, 227, 230, 0.9);
  }
  
  .form__input:focus-within {
    border: 1px solid #ffffff;
    background-color: #212121;
    outline: 0;
  }
  
  .form__input:active::placeholder {
    color: #ffffff;
  }
  
  .js-validate-error-label {
    margin-left: 18px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #d11616;
    display: flex;
    align-items: center;
  }


  /*FOOTER*/
  footer {
      background-color: #535353;
      
  }
  .footer {
      padding-top: 40px;
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .footer a {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}


.input-on {
    background-image: linear-gradient(to right, #484646, #fbfbfb);
    color: #000000;
}

@media screen and (max-width: 1200px) {
   
}
